<div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-lg-6 mt-3 mb-3">
            <h1>EVENTS</h1>
            <p>Good Services,Good Food,Get Enjoyment with lots of fun </p>
        </div>
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="/home">HOME</a>
            <a routerLink="/services">PARTIES</a>
            <a routerLink="/about">ABOUT</a>
            <a routerLink="/contact">CONTACT</a>
        </div>
        <div class="col-lg-2 mt-3 mb-3">
            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>