<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni voluptate, odit veniam vel expedita eligendi quaerat mollitia minima animi ratione tempore debitis neque sequi ipsam, numquam blanditiis reiciendis? Facilis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corrupti recusandae veniam odio, dicta voluptatum illum. Explicabo quam illo, fuga quidem quae esse nam, nesciunt cum suscipit aliquam sed mollitia.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe dolores ratione eaque. Cumque veniam suscipit odit, hic ut voluptates est impedit, debitis perspiciatis laboriosam nobis recusandae quos! Molestiae, ab tenetur!
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non sit vel itaque debitis quod totam hic, repellat dolorem explicabo neque velit dolores possimus blanditiis quae voluptates praesentium corporis, perspiciatis fugiat.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci sed unde similique itaque, tenetur dignissimos. Veritatis vitae sapiente consequatur! Earum perferendis porro nobis maxime quia a, cupiditate possimus quos.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus vero, accusantium labore maxime non, voluptatibus voluptate itaque harum odit, reiciendis quisquam optio rerum dolorum. Obcaecati perferendis debitis suscipit laborum nemo.
        <br/>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis laborum repellat ducimus. Porro aperiam voluptatum dignissimos suscipit, reiciendis maiores eligendi. Totam quis eveniet, suscipit doloribus eaque eligendi nostrum reiciendis asperiores.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam laborum nam ipsa inventore minus debitis quibusdam possimus quam consequuntur dicta. Vitae maxime doloremque impedit nesciunt necessitatibus sint minus obcaecati exercitationem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium nesciunt quisquam tempora debitis incidunt deserunt? Similique dolorem aperiam sint praesentium sunt, incidunt a minus ducimus tempore asperiores fuga ex vel!
        <br/>

    </p>
</div>
<app-footer></app-footer>